.hall {

    &__screen {
        margin: auto;
        margin-top: 20px;
        height: 20px;
        width: 600px;
        border-top-style: solid;
        border-top-width: 10px;
        border-radius: 100%;
        border-top-color: lightblue;
        text-align: center;
    }

    &__places {
        margin-top: 60px;
        display: flex;
        justify-content: center;

        &-row {
            width: 10px;
        }
    }

    &__about-places {
        margin: auto;
        border: 5px solid lightblue;
        border-radius: 100px;
        width: 600px;
        height: 90px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        &-free {
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            height: 50px;
            width: 50px;
            background: lightblue;
            border-radius: 20px;
        }

        &-selected {
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            height: 50px;
            width: 50px;
            background: blue;
            border-radius: 20px;
        }

        &-employed {
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            height: 50px;
            width: 50px;
            background: red;
            border-radius: 20px;
        }
    }
}
