.hall {
    .__screen {
        margin-top: 20px;
        height: 20px;
        width: 100%;
        border-top-style: solid;
        border-top-width: 10px;
        border-radius: 100%;
        border-top-color: lightblue;
        text-align: center;
    }
}